/*Typography*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
img,
ul,
li,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1
}

ul {
    list-style: none
}

html {
    font: 16px "Open Sans Condensed", "Roboto Condensed", Verdana, sans-serif;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 18px;
    font-family: 'Courgette';
}

hr {
    margin: 20px 0 20px 0;
}

th {
    font-size: 27px !important;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    font-size: 35px;
}

/*Layout*/
html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.line {
    float: left;
    width: 100%;
    border-top: 0.25em solid #333;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.wrapper {
    margin: auto;
    width: 100%;
    /*1040px*/
    height: 100%;
    background-color: black;
}

.wrapper:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
}

.content {
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    transform: translate(-50%, -50%);
}

.content h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.content form {
    margin: auto;
    display: table;
}

.content input {
    float: left;
    font-size: 16px;
    border: 1px solid #ad0000;
}

.content input[type=email] {
    padding: 12px;
    background: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.content input[type=submit] {
    padding: 12px 24px;
    color: #fff;
    background: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    transition: all 0.235s ease-in-out;
}

.content input[type=submit]:hover {
    color: white;
    background: #ad0000;
}

.countdown {
    margin: auto;
    display: table;
    font-size: 28px;
    font-weight: 500;
}

.countdown>div {
    float: left;
    min-width: 80px;
}

.countdown span {
    position: relative;
    display: block;
    font-size: 16px;
    text-align: center;
}

.countdown span:before {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 20px;
    height: 1px;
    background: #fff;
}

header,
nav,
section,
footer {
    float: left;
    width: 100%;
}

a {
    text-decoration: none;
    transition: color 0.25s;
}

.button {
    display: block;
    padding: 0.75em 1.25em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background: #ad0000;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.button:focus,
.button:hover {
    background: #890000;
}

.button:active {
    background: #c10000;
}

.link {
    font-weight: bold;
    color: #ad0000;
}

.link:focus,
.link:hover {
    color: #7a0000;
}

.link:active {
    color: #c70000;
}

/*Navigation*/
nav h1 {
    float: left;
    padding: 0.25em 0.25em 0 0;
    font-size: 4.5em;
    text-transform: uppercase;
}

nav h1 a {
    color: #ad0000;
}

.nav-ul {
    display: flex;
}

.active {
    background: #ad0000;
    color: #fff !important;
}

header li {
    width: 20%;
}

header li:not(:first-child) {
    margin-left: 2%;
}

header .nav-ul a {
    display: block;
    padding: 1.75em 0.5em;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

header .nav-ul a:focus,
header .nav-ul a:hover {
    color: #fff;
    background: #ad0000;
    ;
}

header .nav-ul a:active {
    color: #c70000;
}

header li:first-child a:hover {
    color: #fff;
}

/*Sections*/
section {
    margin: 1em 0;
}

section h1 {
    text-transform: uppercase;
}

hr {
    border-color: white;
    border-style: dashed;
}

.vertical {
    width: 0;
    height: 10px;
}

/*Intro*/
.sec-intro {
    position: relative;
}

.sec-intro img {
    width: 100%;
}

.sec-intro h1 {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

/*Boxes*/
.box {
    float: left;
    padding: 1.5em 1em;
    width: 25%;
    height: 300px;
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    border-left: 0.1em solid white;
    transition: background 0.25s;
    text-align: center;
}

.box:focus,
.box:hover {
    background: #ad0000;
}

.box:last-child {
    border-right: 0.1em solid #d3d3d3;
}

.box h1 {
    text-align: center;
}

.box p {
    margin-top: 20px;
}

.box .button {
    margin: 4em auto;
}

/*Events*/
.sec-events>h1 {
    margin-top: 1em;
}

.sec-events article {
    padding: 0 .25em;
    text-align: justify;
}

.sec-events article h1,
.sec-events article p {
    display: block;
    margin: .5em 0;
    padding: .25em 1em;
    font-size: 30px;
}

.sec-events article h1 {
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    color: #ad0000;
}

/*Projects*/
.sec-projects {
    width: 60%;
    text-align: center;
}

.sec-projects>h1 {
    margin-top: 1em;
    text-align: center;
    color: #ad0000;
}

.sec-projects article {
    padding: .5em 0;
    width: 100%;
}

.sec-projects article h1,
.sec-projects article a {
    font-size: 150%;
}

.sec-projects article h1 {
    font-weight: bold;
    margin: 8px 0 8px 0;
}

.sec-projects article a {
    text-align: justify;
    text-decoration: none;
    color: #ad0000;
}

.sec-projects p a {
    float: right;
}

.sec-projects button {
    position: relative;
    left: 80%;
}

.forward {
    text-align: center !important;
}

.facebook {
    font-size: 35px;
    color: white;
    border: 0.1em solid white;
    transition: background 0.25s;
}

.facebook:focus,
.facebook:hover {
    background: #ad0000;
}

/*Standards*/
.sec-standards {
    width: 40%;
}

.sec-standards>h1 {
    margin-top: 1em;
    text-align: center;
    color: #ad0000;
}

.sec-standards article {
    float: left;
    padding: .5em 1em;
    width: 50%;
    text-align: justify;
}

.sec-standards article:last-child {
    padding: .5em 0;
}

.sec-standards article h1 {
    text-align: center;
    color: #ad0000;
}

/*Footer*/
footer {
    padding: 2em 0;
    width: 100%;
    text-align: center;
    background: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 100px;
}

footer .nav-ul {
    justify-content: center;
    margin-bottom: 1em;
}

footer li:not(:first-child) {
    margin-left: 0.75em;
}

.active-bot {
    color: #ad0000;
}

footer a {
    font-size: 1.25em;
    font-weight: bold;
    color: black;
}

footer a:focus,
footer a:hover {
    color: #ad0000;
}


.footer__links {
    text-align: center;
    list-style-type: none;
}

.footer__links li {
    display: inline-block;
}

.footer__links li:nth-of-type(n+2) {
    margin-left: 12px;
}

.footer__links a {
    padding: 8px 0;
    display: block;
    width: 41px;
    text-align: center;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    transition: opacity 0.235s ease-in-out;
}

.footer__links a:hover {
    opacity: 0.5;
}

.footer__links .fa {
    vertical-align: middle;
    font-size: 21px;
}

.copy {
    font-size: 0.85em;
}